{% load bleachmd %}
<!doctype html>

<html>
    <head>
        <title> - Things I learned</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Things I learned</h1>
        {% for lesson in lessons %}
            <div class="lesson">
                <div class="content">
                    {{ lesson.title|bleachmd_title }}
                    {{ lesson.content|bleachmd }}
                </div>
                {% if lesson.tags.all %}
                    <div class="tags">
                        Tags: {{ lesson.tags.all|join:', ' }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </body>
</html>
