{% load bleachmd %}
<!doctype html>

<html>
    <head>
        <title> - Things I learned</title>
    </head>
    <body>
        <h1>Things I learned</h1>
        {% for lesson in lessons %}
            <div>
                <h2>{{ lesson.title|bleachmd }}</h2>
                <div>
                    {{ lesson.content|bleachmd }}
                </div>
                <div>
                    Tags: {{ lesson.tags.all|join:', ' }}
                </div>
            </div>
        {% endfor %}
    </body>
</html>
